<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>ГЛАВНАЯ_СТРАНИЦА</title>
</head>
<body>
<h1>СПИСОК ПОЛЬЗОВАТЕЛЕЙ</h1>
<table border="5">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Почта</th>
        <th>Пароль</th>
        <th>Изменения</th>
    </tr>
    <tr th:each="user : ${users}"
        class="row" th:classappend="${user.toString()} ? 'odd-row' : 'even-row'">

        <td th:utext="${user.getName()}">Name</td>
        <td th:utext="${user.getSurname()}">Surname</td>
        <td th:utext="${user.getEmail()}">email</td>
        <td th:utext="${user.getPassword()}">Password</td>
        <td><a class="btn" href="@{/admin/main-page/{id}(id = ${user.getId()})}">Удалить</a>
            <a class="btn" href="@{/update-info/{id}(id = ${user.getId()})}">Редактировать</a>
        </td>
    </tr>
</table>
<br>
<a class="btn" href="/admin/add-user">Добавить пользователя</a>

</body>
</html>