<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Page main</title>
</head>
<body>
<h1>Все пользователи</h1>
<table border="5">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Телефон</th>
        <th>Операции</th>
    </tr>
    <tr th:each="user : ${users}"
        class="row" th:classappend="${user.toString()} ? 'odd-row' : 'even-row'">

        <td th:utext="${user.getName()}">Name</td>
        <td th:utext="${user.getSurname()}">Surname</td>
        <td th:utext="${user.getAge()}">Age</td>
        <td th:utext="${user.getTelefon()}">Telefon</td>
        <td><a class="btn" th:href="@{/user-delete/{id}(id = ${user.getId()})}">Удалить</a>
            <a class="btn" th:href="@{/update-info/{id}(id = ${user.getId()})}">Редактировать</a>
    </tr>
</table>
<br>
<a href="/add-user" class="btn">Добавить пользователя</a>
</body>
</html>